@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f4f4f4;
    padding-bottom: 60px;
  }
  .nav{
    width: 100%;
    background-color: #007bff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav>.links{
    display: flex;
    gap: 16px;
    margin-bottom: 10px;
    color: #f4f4f4;
    font-weight: bolder;
    text-decoration: none;
}

.nav>.links>a{
    text-decoration: none;
    color: #f4f4f4;
    padding: 5px;
    margin-top: -10px;
}

.nav>.links>a:hover{
    border: none;
    border-radius: 7px;
    background-color: #f4f4f4;
    color: #007bff;
    transition: all ease 0.2s;
}
  .container {
    margin-top: 20px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 400px;
    text-align: center;
  }

  .bloco{
    display: flex;
    flex-direction: column;
  }

  .navigation {
    position: fixed;
    bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  .navigation button {
    padding: 12px 24px;
    border: none;
    border-radius: 6px;
    background: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }

  .navigation button:hover {
    background: #0056b3;
  }

  .hidden {
    display: none;
  }

  button {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: 8px 12px;
    margin: 5px;
    cursor: pointer;
  }
  
  button.selecionado {
    background-color: #4caf50;
    color: white;
  }

  #opcoes{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #opcoes>button{
    gap: 16px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: auto;
    text-align: center;
    padding: 10px;

  }
  button {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #007bff;
    color: white;
    cursor: pointer;
  }
  button:hover {
    background: #0056b3;
  }
  .hidden {
    display: none;
  }

  .nav-buttons{
    margin: auto;
  }

  .nav-buttons>button{
    background-color: #0056b3;
    color: white;
    
    font-weight: bold;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }

  .nav-buttons>button:hover{
    background-color: white;
    color: #007bff;
    transition: all 0.2s;
  }

  